.asked-question {
  background-color: $gray5;
  .container {
    padding-bottom: 40px;
    padding-top: 40px;
    @include media(tablet) {
      padding-left: col(2.5, 37);
      padding-right: col(2.5, 37);
      padding-bottom: 64px;
      padding-top: 64px;
    }

    .owl-carousel .owl-stage-outer {
      overflow: initial;
      @include media(mobile) {
        margin-bottom: 24px;
      }
    }
  }
  &__container {
    margin-top: 32px;
    &__item {
      background: white;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
      flex-flow: wrap;
      align-items: center;
      min-height: 126px;
      border: 1px solid #dbdbdb;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      @include media(tablet) {
        width: 320px;
      }
      .img {
        width: col(4.5, 10);
        height: 150%;
        img {
          width: 110% !important;
          height: 100%;
          min-height: 126px;
          border-radius: 0px 60px 60px 0px;
          position: relative;
          left: -24px;
        }
      }
      .content {
        display: none;
      }
      .text {
        width: col(5.5, 10);
        padding-left: 16px;
        padding-right: 16px;
        h3.title {
          font-size: 14px;
          line-height: 140%;
          font-weight: 300;
          margin-bottom: 8px;
        }
        button {
          width: 104px;
          border-bottom: 1px solid $yellow;
          font-size: 12px;
          line-height: 140%;
          color: $gray;
          font-weight: 700;
          cursor: pointer;
        }
      }
      &:hover {
        box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.25);
      }
    }
  }
  #modalQuestion {
    .modal-container {
      @include media(mobile) {
        padding-left: 0px;
        padding-top: 0px;
        padding-right: 0px;
        border-radius: 0px;
        min-height: 100vh;
      }
      @include media(tablet) {
        max-width: 850px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-top: 0px;
        border-radius: 0px;
        min-height: auto;
      }
    }
    .modal-content {
      @include media(mobile) {
        padding: 0px;
      }
      @include media(desktopmini) {
        display: flex;
        flex-flow: wrap;
        align-items: center;
      }
      .imagen {
        margin-right: 40px;
        height: 100%;
        width: 100%;
        background-size: cover !important;
        background-position: top !important;
        @include media(mobile) {
          height: 300px;
          margin-bottom: 24px;
        }
        @include media(desktopmini) {
          height: 370px;
          width: 40%;
        }
      }
      .text {
        @include media(mobile) {
          padding: 40px;
        }
        h3 {
          font-size: 32px;
          font-weight: 300;
          margin-bottom: 8px;
          color: $gray;
        }
        p {
          line-height: 150%;
          font-size: 16px;
        }
        span {
          text-transform: capitalize;
          font-size: 12px;
          margin-bottom: 16px;
          display: block;
        }
        width: calc(60% - 40px);
        @include media(mobile) {
          width: 100%;
        }
      }
    }
    .close {
      position: absolute;
      width: 32px;
      height: 32px;
      top: 0px;
      right: 0px;
      background: transparent;
    }
  }
}
