.beneficios {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #f1f5f5;

    .container {
      padding-top: col(4, 37);
      padding-bottom: col(4, 37);
  
      @include tablet {
        padding-top: $sectionmargin;
        padding-bottom: $sectionmargin;
      }
  
      .content-beneficios {
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: center;
        .card-beneficios {
          width: col(29, 29);
          margin-bottom: 20px;
          margin-left: auto;
          margin-right: auto;
          display: flex;
          flex-flow: wrap;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          max-width: 80%;
          @include tablet{
            width: col(14, 29);
            max-width: 100%;

          }
          @include desktop{
            width: col(9, 29);

          }
          .imagen {
            width: col(2,9);
  
            img {
              width: auto;
              height: 60px;
              @include tablet{
                height: 70px;

              }
            }
          }
          div.text {
            width: col(6.5,9);
            margin-left: col(0.5,9);
          
            h3 {
              text-align: left;
              font-size: 28px;
              margin-bottom: 10px;
              @include tablet {
                font-size: 28px;
                margin-bottom: 5px;

              }
              @include desktop{
                font-size: 32px;
                margin-bottom: 5px;
              }
            }
            p {
              font-size: 16px;
              text-align: left;
              line-height: 120%;
  
              @include desktop {
                font-size: 18px;
              }
            }
          }
        }
      }
    }
  }
  