.clientes {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  .container {
    padding-top: col(4, 37);
    padding-bottom: col(4, 37);

    @include tablet {
      padding-top: col(1, 29);
      padding-bottom: col(1, 29);
    }

    .clientes-satisfechos {
      display: flex;
      flex-flow: wrap;
      align-items: center;
      justify-content: center;
      .card-cliente {
        width: col(29, 29);
        max-width: 320px;
        min-height: 145px;
        border-radius: 20px;
        background-color: white;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        border: 1px solid $grisClaro;
        .imagen {
          width: 100%;

          img {
            width: auto;
            height: 200px;
          }
        }
        div.text {
          width: col(12, 12);
          padding-left: col(1, 9);
          padding-right: col(1, 9);
          margin-top: col(0.5, 9);
          margin-bottom: col(1, 9);
          h3 {
            text-align: left;
            font-size: 20px;
            margin-bottom: 24px;
            @include tablet {
              font-size: 24px;
            }
          }
          p {
            font-size: 16px;
            text-align: left;
            line-height: 120%;

            @include tablet {
              font-size: 18px;
            }
          }
          a{
            display: block;
            max-width: 100%;
            color: #fb9b32;
            margin-top: 10px;
            height: auto;
            font-size: 18px;
      
          }
        }
      }
    }
  }
}
