.ficha-producto{
    background-color: $grisClaro2;
    .container{
        @include tablet{
            padding-top: col(1.5, 29);
        padding-bottom: col(1.5, 29);
        }
        
        .contenido-ficha-producto{
            display: flex;
            flex-flow: column-reverse;
            @include tablet{
                flex-flow: wrap;

            }
            .texto-producto{
                width: col(27,27);
                p{
                    margin: 20px auto;
                    font-size: 18px;
                    text-align: justify;

                    @include tablet{
                        font-size: 20px;

                    }

                    strong{
                        color:$grisOscuro;
                        font-weight: 700;
                    }
                }

                @include tablet{
                    width: col(13,27);
                    margin-right: col(1,27);
                }
                a{
                    padding: 14px 28px;
                    display: inline-block;
                    background-color: #ff9728;
                    color: #fff;
                    font-size: 18px;
                    text-align: center;
                    border-radius: 8px;
                    -webkit-transition: all .3s ease-in-out;
                    -moz-transition: all .3s ease-in-out;
                    -ms-transition: all .3s ease-in-out;
                    -o-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    margin:40px auto;
                    margin-top: 0px;
                    width: 100%;
                    @include tablet{
                        margin:0;
                        max-width: 210px;

                    }

                    &:hover {
                        background-color: $primaryHover;
                        box-shadow: 0px 0px 10px $primaryHover;
                
                      }
                }
            }

            .image-producto{
                width: col(27,27);
                height: 180px;
                border-radius: 12px;
                overflow: hidden;
                @include tablet{
                    height: 330px;
                    width: col(13,27);

                }
                img{
                    width: 100%;
                    height: auto;
                    overflow: hidden;
                }
            }
        }
    }
}