.form {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  .container {
    .form-mayo {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      .formulario {
        width: col(37, 37);

        @include desktop {
          width: col(15, 27);
        }

        .group-form-2 {
          display: flex;
          flex-flow: wrap;
          .input-field {
            width: col(15, 15);
            
            @include tablet {
              width: col(7.25, 15);
            }

            &:nth-child(1) {
              @include tablet {
                margin-right: col(0.5, 15);
              }
            }
          }
        }
        .btn-form {
          background: $yellow;
          border: 1px solid $yellow;
          box-sizing: border-box;
          color: white;
          font-size: 18px;
          text-align: center;
          display: block;
          width: 100%;
          padding: 20px 0px;
          border-radius: 8px;
          margin-top: 5px;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          cursor: pointer;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
          appearance: none;
          -webkit-appearance: none;
          &:hover {
            background-color: $yellow;
            box-shadow: 0px 0px 10px $yellow;;
    
          }
        }
      }
   
    }
    .datos {
      display: flex;
      flex-flow: column;
      width: col(27, 27);
      padding-left: 10%;
      @include tablet{
        padding-left: 0%;
        flex-flow: row; 
      }
      @include desktop{
        width: col(10, 27);
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      .dato {
        display: flex;
        flex-flow: wrap;
        margin-bottom: col(1, 10);
        max-width: 220px;

       @include tablet{
         width: col(14,29);
         margin-bottom: 0;
         
       }
       @include desktop{
        width: col(29,29);
        align-items: flex-start;
        justify-content: flex-start;
        margin-bottom: col(1, 10);
       }

        &:nth-child(2) {
          margin-bottom: 0px;
        }
        .icono {
          color: $yellow;
          font-size: 46px;
          margin-right: col(0.75, 10);
        }
        .text {
          h4 {
            font-weight: 900;
            font-size: 24px;
            line-height: normal;
            letter-spacing: 0.4px;
            color: $gray;
            font-family: $primary-text;
            letter-spacing: -0.6px;
            @include desktop {
              font-size: 24px;
            }
          }
          p {
            font-weight: 300;
            font-size: 26px;
            line-height: normal;
            letter-spacing: 0.4px;
            font-family: $primary-text;
            color: $gray;
            @include desktop {
              font-size: 26px;
            }
          }
          a {
            color: $yellow;
            margin: 10px 0px;
            text-decoration: underline;
          }
          span {
            color: $gray2;
            display: inline-block;
            margin-left: 12px;
            @include desktop {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
