.hero-hecsel{
    position: relative;
    @include mobile{
        height: calc(100vh - 75px);
    }
    @include tablet{
    }
    &__txt{
        position: relative;
        z-index: 2;
        background: rgba(255, 255, 255, 0.96);
        box-shadow: 0px 4px 64px rgba(255, 255, 255, 0.7);
        h2{
            font-size: 32px;
            line-height: 120%;
            letter-spacing: -0.6px;
            color: $gray;
            font-weight: 300;
            text-align: left;
            @include tablet{
            font-size: 40px;
            line-height: 120%;
            }
            strong{
                font-weight: 700;
            }
        }
        a{
            padding: 16px 32px;
            background-color: $yellow;
            color:$gray;
            font-weight: 700;
            font-size: 16px;
            display: inline-block;
            line-height: 156%;
            border-radius: 8px;
            text-transform: uppercase;
            margin-top: 16px;
        }
        @include tablet{
            width: col(15,37);
            padding-left: col(2,37);
            padding-right: col(1,37);
            padding-top: 48px;
            padding-bottom: 48px;
            min-width: 450px;
        }
        &__title{
            font-size: 12px;
            line-height: 100%;            
            letter-spacing: 1px;
            text-transform: uppercase;
            display:flex;
            align-items: center;
            &::after{
                content:'';
                background-image: url("data:image/svg+xml,%3Csvg width='41' height='35' viewBox='0 0 41 35' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.0307 16.5231L25.7698 11.0653C25.6803 10.6313 25.447 10.2686 25.0699 9.97713C24.7394 9.69386 24.3612 9.52986 23.9352 9.48515C23.6011 9.41627 23.274 9.42564 22.9541 9.51325L11.3096 10.233C10.9051 10.2382 10.5437 10.1019 10.2255 9.82427C9.90583 9.52687 9.65765 9.18542 9.48091 8.79991C9.32399 8.39336 9.23072 7.98287 9.20111 7.56844C9.17291 7.17375 9.20836 6.77512 9.30747 6.37256C9.42639 5.94896 9.6238 5.57996 9.89971 5.26559C10.1742 4.93147 10.513 4.75196 10.9162 4.72704L23.1382 3.97162C23.7324 3.9349 24.2176 3.7166 24.594 3.31672C24.9901 2.8958 25.1685 2.40906 25.129 1.85649C25.0895 1.30393 24.8442 0.853279 24.393 0.504552C23.9617 0.13478 23.4489 -0.0317458 22.8548 0.00497605L10.7601 0.752526C9.27617 0.864065 8.07368 1.33482 7.15261 2.1648C6.25135 2.97373 5.62308 3.8748 5.2678 4.86803C4.93233 5.8402 4.80126 6.83939 4.87459 7.86558C4.94276 8.81964 5.20864 9.75221 5.67223 10.6633C4.29496 10.8049 3.17013 11.2688 2.29776 12.0549C1.3965 12.8638 0.768225 13.7649 0.412946 14.7581C0.0774746 15.7303 -0.0535977 16.7295 0.0197291 17.7557C0.0902355 18.7424 0.372225 19.7061 0.865698 20.6469C1.35776 21.5679 2.10871 22.3837 3.11855 23.0944C4.12698 23.7853 5.56694 24.1026 7.43843 24.0464L17.5002 23.4245L22.4274 31.6714C23.3921 33.1639 24.4601 34.1166 25.6312 34.5296C26.821 34.9329 27.9653 35.0769 29.0641 34.9615C30.1815 34.8366 31.205 34.5339 32.1344 34.0536C33.101 33.5541 33.9323 32.9095 34.6283 32.1199C35.3326 31.3034 35.8055 30.3236 36.047 29.1806C36.2969 28.0107 36.0695 26.8158 35.3651 25.5961L34.8884 24.9133C35.6352 24.7513 36.3355 24.5014 36.9893 24.1635C37.9559 23.664 38.7872 23.0194 39.4832 22.2298C40.1874 21.4133 40.6603 20.4336 40.9019 19.2905C41.1517 18.1206 40.9244 16.9258 40.2199 15.706L34.3324 5.85163C34.0432 5.36756 33.6145 5.05735 33.0465 4.921C32.4867 4.75776 31.9466 4.81063 31.4261 5.07961C30.9057 5.3486 30.5628 5.75204 30.3976 6.28994C30.2407 6.80094 30.3068 7.29848 30.5961 7.78255L36.5456 17.7406C36.7419 18.0691 36.7636 18.4312 36.6108 18.8269C36.4766 19.2131 36.2504 19.5675 35.9324 19.8903C35.6226 20.1861 35.2818 20.4301 34.91 20.6223C34.5196 20.824 34.0983 20.9739 33.646 21.0719C33.2019 21.143 32.7588 21.1344 32.3168 21.0461C32.2622 21.0334 32.2093 21.019 32.1581 21.0026L29.0307 16.5231ZM18.8916 13.7485C18.7034 13.8105 18.5007 13.8483 18.2834 13.8617L6.06134 14.6171C5.65819 14.642 5.31936 14.8215 5.04486 15.1557C4.76895 15.47 4.57153 15.839 4.45261 16.2626C4.3535 16.6652 4.31805 17.0638 4.34625 17.4585C4.37586 17.8729 4.46913 18.2834 4.62606 18.69C4.80279 19.0755 5.05097 19.4169 5.3706 19.7143C5.68881 19.992 6.0502 20.1282 6.45477 20.123L18.0994 19.4033C18.4192 19.3157 18.7461 19.3064 19.0802 19.3752C19.5062 19.4199 19.8845 19.5839 20.215 19.8672C20.5922 20.1587 20.8255 20.5214 20.915 20.9554L26.5045 30.3109C26.7194 30.6298 27.0385 30.8382 27.462 30.9362C27.904 31.0245 28.347 31.0331 28.7911 30.962C29.2434 30.864 29.6648 30.7141 30.0552 30.5124C30.4269 30.3202 30.7677 30.0762 31.0775 29.7804C31.3956 29.4576 31.6217 29.1032 31.7559 28.717C31.9087 28.3213 31.887 27.9592 31.6908 27.6307L29.0166 23.7944C28.4055 23.2957 27.8274 22.6247 27.2822 21.7813L25.2966 18.4579L25.0548 18.1109C25.0254 18.0617 25.0054 18.0079 24.9934 17.9503L22.3551 13.5344L18.8916 13.7485Z' fill='%23FF5A23'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.0307 16.5231L25.7698 11.0653C25.6803 10.6313 25.447 10.2686 25.0699 9.97713C24.7394 9.69386 24.3612 9.52986 23.9352 9.48515C23.6011 9.41627 23.274 9.42564 22.9541 9.51325L11.3096 10.233C10.9051 10.2382 10.5437 10.1019 10.2255 9.82427C9.90583 9.52687 9.65765 9.18542 9.48091 8.79991C9.32399 8.39336 9.23072 7.98287 9.20111 7.56844C9.17291 7.17375 9.20836 6.77512 9.30747 6.37256C9.42639 5.94896 9.6238 5.57996 9.89971 5.26559C10.1742 4.93147 10.513 4.75196 10.9162 4.72704L23.1382 3.97162C23.7324 3.9349 24.2176 3.7166 24.594 3.31672C24.9901 2.8958 25.1685 2.40906 25.129 1.85649C25.0895 1.30393 24.8442 0.853279 24.393 0.504552C23.9617 0.13478 23.4489 -0.0317458 22.8548 0.00497605L10.7601 0.752526C9.27617 0.864065 8.07368 1.33482 7.15261 2.1648C6.25135 2.97373 5.62308 3.8748 5.2678 4.86803C4.93233 5.8402 4.80126 6.83939 4.87459 7.86558C4.94276 8.81964 5.20864 9.75221 5.67223 10.6633C4.29496 10.8049 3.17013 11.2688 2.29776 12.0549C1.3965 12.8638 0.768225 13.7649 0.412946 14.7581C0.0774746 15.7303 -0.0535977 16.7295 0.0197291 17.7557C0.0902355 18.7424 0.372225 19.7061 0.865698 20.6469C1.35776 21.5679 2.10871 22.3837 3.11855 23.0944C4.12698 23.7853 5.56694 24.1026 7.43843 24.0464L17.5002 23.4245L22.4274 31.6714C23.3921 33.1639 24.4601 34.1166 25.6312 34.5296C26.821 34.9329 27.9653 35.0769 29.0641 34.9615C30.1815 34.8366 31.205 34.5339 32.1344 34.0536C33.101 33.5541 33.9323 32.9095 34.6283 32.1199C35.3326 31.3034 35.8055 30.3236 36.047 29.1806C36.2969 28.0107 36.0695 26.8158 35.3651 25.5961L34.8884 24.9133C35.6352 24.7513 36.3355 24.5014 36.9893 24.1635C37.9559 23.664 38.7872 23.0194 39.4832 22.2298C40.1874 21.4133 40.6603 20.4336 40.9019 19.2905C41.1517 18.1206 40.9244 16.9258 40.2199 15.706L34.3324 5.85163C34.0432 5.36756 33.6145 5.05735 33.0465 4.921C32.4867 4.75776 31.9466 4.81063 31.4261 5.07961C30.9057 5.3486 30.5628 5.75204 30.3976 6.28994C30.2407 6.80094 30.3068 7.29848 30.5961 7.78255L36.5456 17.7406C36.7419 18.0691 36.7636 18.4312 36.6108 18.8269C36.4766 19.2131 36.2504 19.5675 35.9324 19.8903C35.6226 20.1861 35.2818 20.4301 34.91 20.6223C34.5196 20.824 34.0983 20.9739 33.646 21.0719C33.2019 21.143 32.7588 21.1344 32.3168 21.0461C32.2622 21.0334 32.2093 21.019 32.1581 21.0026L29.0307 16.5231ZM18.8916 13.7485C18.7034 13.8105 18.5007 13.8483 18.2834 13.8617L6.06134 14.6171C5.65819 14.642 5.31936 14.8215 5.04486 15.1557C4.76895 15.47 4.57153 15.839 4.45261 16.2626C4.3535 16.6652 4.31805 17.0638 4.34625 17.4585C4.37586 17.8729 4.46913 18.2834 4.62606 18.69C4.80279 19.0755 5.05097 19.4169 5.3706 19.7143C5.68881 19.992 6.0502 20.1282 6.45477 20.123L18.0994 19.4033C18.4192 19.3157 18.7461 19.3064 19.0802 19.3752C19.5062 19.4199 19.8845 19.5839 20.215 19.8672C20.5922 20.1587 20.8255 20.5214 20.915 20.9554L26.5045 30.3109C26.7194 30.6298 27.0385 30.8382 27.462 30.9362C27.904 31.0245 28.347 31.0331 28.7911 30.962C29.2434 30.864 29.6648 30.7141 30.0552 30.5124C30.4269 30.3202 30.7677 30.0762 31.0775 29.7804C31.3956 29.4576 31.6217 29.1032 31.7559 28.717C31.9087 28.3213 31.887 27.9592 31.6908 27.6307L29.0166 23.7944C28.4055 23.2957 27.8274 22.6247 27.2822 21.7813L25.2966 18.4579L25.0548 18.1109C25.0254 18.0617 25.0054 18.0079 24.9934 17.9503L22.3551 13.5344L18.8916 13.7485Z' fill='%23FFCC00'/%3E%3C/svg%3E%0A");
                width: 41px;
                height: 35px;
                display: block;
                margin-left: 32px;
            }
        }
    }
    .container{
        @include tablet{
            display: flex;
            align-items: center;
            min-height: calc(100vh - 107px);
        }
    }
    img{
       @include tablet{
        width: 100%;
        height: auto;
        min-height: calc(100vh - 107px);
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 1;
        object-fit: cover;
       }
       &.hide-tablet-on-up{
           @include mobile{
            margin-bottom: 32px;
            width: 100%;
           }
       }
    }

    &__down{
        position: absolute;
        z-index: 9;
        cursor: pointer;
        border-radius: 50%;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        width: 54px;
        height: 54px;
        bottom:24px;
        right: 24px;
        &:hover{
            width: 64px;
            height: 64px;
            padding: 5px;
            border: 1px solid $yellow;
        }
        @include tablet{
            width: 64px;
            height: 64px;
            bottom: 40px;
            right: 40px;
        }
       &__btn{
        width: 100%;
        height: 100%;
        background-color: $yellow;
        border-radius: 50%;
        display:flex;
        align-items: center;
        justify-content: center;
       
        z-index: 5;
       }
    }
}
.hero-nosotros{

    @include tablet{
        background-image: url(../images/bg-grid.png);
        background-position: right bottom;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
        display: flex;
        flex-flow:wrap;
        position: relative;
    
        @include tablet{
            position: relative;
            min-height: 500px;
            z-index: 9999999;
        }
        .text{
           @include tablet{
            width: col(18,37);
            display: flex;
            flex-flow: column;
            justify-content: center;
           }
            h2{
               
                color:$gray;
                display: block;
                font-size: 28px;
                margin-top: 40px;
                @include tablet{
                    margin-top: 0px;
                    font-size: 52px;
                    line-height: 120%;
                }
                &::after{
                    content:'';
                    height: 2px;
                    display:block;
                    margin-top: 24px;
                    margin-bottom: 24px;
                    width: 108px;
                    background-color: $yellow;
                }
            }
            p{
          
                letter-spacing: 0.2px;
                color: #4C4D58;
                margin-bottom: 16px;
                line-height: 140%;
                font-size: 16px;
                @include tablet{
                    font-size: 18px;
                    line-height: 140%;
                }
                strong{
                    font-weight: 700;
                }
            }
        }
        .img{
            width: 100%;
            position: relative; 
            bottom:-4px;
            
            @include tablet{
                position: absolute;
                width: col(17,37);
                bottom: -4px;
                right: 24px;
                z-index: 999;
            }
            img{
                width: 100%;
                height: auto;
            }
        }
       
    }
}
