.hero-cat {
    height: 320px;
    width: 100%;
    margin-top: 60px;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    position: relative;
  
    @include tablet {
      height: 400px;
      margin-top: 50px;
    }
    @include desktop{
      margin-top: 70px;
  
  
    }
    .overlay {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 10px;
      background: linear-gradient(90deg, rgba(35, 28, 19, 0.6) 24.32%, rgba(47, 37, 25, 0) 100.16%);
    }
  
    .container {
      position: relative;
      z-index: 20;
      display: flex;
      height: 100%;
      flex-flow: column;
      width: 100%;
      /* margin-top: 7.5%; */
      justify-content: center;
      align-items: flex-start;
        h4{
            text-align: center;
            color: white;
            margin: 0 auto;
        }
      h2 {
        color: white;
        font-size: 32px;
        line-height: normal;
        font-weight: 700;
        margin-bottom: 0px;
        @include tablet {
          font-size: 48px;
        }
        @include desktop {
          font-size: 52px;
        }
        strong {
          font-weight: 700;
          display: block;
        }
      }
      p {
        color: white;
        font-size: 20px;
        display: none;
        @include desktop {
          display: block;
        }
      }
      a {
        padding: 14px 28px;
        display: inline-block;
        background-color: $primary;
        color: white;
        font-size: 18px;
        max-width: 210px;
        text-align: center;
        margin:0 auto;
        border-radius: 8px;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -ms-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: $primaryHover;
          box-shadow: 0px 0px 10px $primaryHover;
  
        }
      }
    }
  }
  