#masthead {
  width: 100%;
  min-height: 75px;
  position: fixed;
  top: 0;
  z-index: 9999999;
  margin-top: 00px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
  box-shadow: 0px 5px 40px #8a8a8a74;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  @include tablet {
    position: absolute;
  }
  @include desktop {

    &.active {
      height: 70px;
      background: $yellow;
      .container {
        max-width: 95%;
        @include tablet{
          padding: 0;
        }
        .logo {
          display: inline-block;

          img {
            height: 70px !important;
            margin-top: 0px;
          }
        }
        .container-nav {
          margin-top: 15px;
        }
      }
    }
  }

  
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.6);
    transition: ease-in-out 0.3s;
    display: none;
  }
  .container {
    z-index: 30;
    position: relative;
    min-height: 75px;
    padding: 8px 0px;
    width: 100%;
    max-width: 100%;

    @include desktop {
      padding: 0 ;
      width: 100%;
      max-width: 1240px;
      margin: 0 auto;
      display: flex;
      flex-flow: wrap;
     align-items: center;
    justify-content: space-between;

    }
    .container-logo {
      width: col(27, 37);
      float: left;
      padding-left: col(2, 31);
      @include tablet {
        padding-left: 0px;
      }

      @include desktop {
        width: col(7, 31);
        height: 100%;
        float: initial;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding:12px 0px;
      }
      .logo {
        display: inline-block;
        img {
          height: 48px;
          margin-top: 5px;
          @include tablet {
            height: 74px;
            margin-left: 20px;
          }
          @include desktop {
            height: 74px;
            margin-left: 0px;
            width: auto;
            
          }
        }
      }
    }
    .container-nav {
      height: 0px;
      opacity: 0;
      position: relative;
      z-index: 0;
      clear: both;
      transition: ease-in-out 0.3s;
      margin-top: 10px;
      @include desktop {
        clear: initial;
        height: 100%;
        opacity: 1;
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
        width: col(22.5,31);
        text-align: right;
      }

      .main-navegation {
        @include mobile{
          height: 0px;
          overflow: hidden;
        }
        &.active{
          height: auto;
        }
        ul {
          padding-top: 10px;
          @include tablet {
            padding-top: 0px;
            height: 100%;
          }
          li {
            border-top: 1px solid $gray4;
            list-style: none;
            text-align: center;
            border-bottom: 1px solid white;
            transition: ease-in-out 0.3s all;
            border-left:1px solid $gray4;
            border-right: 1px solid $gray4;
            &:nth-child(6){
              margin-right: 16px;

            }
            @include mobile{
              border-top: 1px solid #dedede;
              padding: 16px;
              text-align: left;
              position: relative;
              
              &::after{
                content:'';
                display: block;
                background-image: url("data:image/svg+xml,%3Csvg width='38' height='76' viewBox='0 0 38 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.4274 44.2231L5.01194 74.7019C3.86684 75.8492 2.00876 75.851 0.861746 74.7062C-0.285559 73.5614 -0.287467 71.7033 0.857345 70.556L31.275 40.075C32.4192 38.9308 32.4192 37.069 31.2728 35.9226L0.857345 5.44378C-0.287467 4.29648 -0.285559 2.43839 0.861746 1.29358C1.43445 0.721908 2.18469 0.436226 2.93464 0.436226C3.68665 0.436226 4.43866 0.723522 5.01194 1.29798L35.4252 31.7746C38.8578 35.2073 38.8578 40.7927 35.4274 44.2231Z' fill='%23FFBC10'/%3E%3C/svg%3E%0A");                width: 12px;
                height: 17px;
                width: 8.6px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                position: absolute;
                right: 24px;
                top: 24px;
              }
              &:nth-child(6){
                border-bottom: 1px solid #c4c4c4;
                margin-right: 0px;

              }
            }
            @media only screen and (max-width:321px){
              padding: 8px;

              &::after{
                content:'';
                display: block;
                background-image: url("data:image/svg+xml,%3Csvg width='17' height='30' viewBox='0 0 17 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.0796 16.0706L2.58874 29.557C1.99677 30.1475 1.03768 30.1475 0.444217 29.557C-0.147753 28.9665 -0.147753 28.0075 0.444217 27.417L12.865 15.0007L0.445713 2.58439C-0.146257 1.99391 -0.146257 1.03483 0.445713 0.442856C1.03768 -0.147619 1.99826 -0.147619 2.59023 0.442856L16.0811 13.9291C16.664 14.5135 16.664 15.4876 16.0796 16.0706Z' fill='%23F87169'/%3E%3C/svg%3E%0A");
                width: 8px;
                height: 14px;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                position: absolute;
                right: 24px;
                top: 20px;
              }


            }


            @include tablet {
              border: 0px;
              margin-top: 10px;
            }
            a {
              padding: 10px 0px;
              display: inline-block;
              width: 100%;
              font-size: 12px;
              line-height: 15px;
              position: relative;
              color:$gray;
              &::before {
                content: "";
                width: 0%;
                height: 2px;
                background-color: $yellow;
                position: absolute;
                bottom: 12px;
                left: 0px;
                -webkit-transition: all 0.3s ease-in-out;
                -moz-transition: all 0.3s ease-in-out;
                -ms-transition: all 0.3s ease-in-out;
                -o-transition: all 0.3s ease-in-out;
                transition: all 0.3s ease-in-out;
              }
              @include tablet {
                display: initial;
                width: auto;
              }
              &:hover {
                color:$yellow;
                @include tablet {
                  &::before {
                    width: 100%;
                  }
                }
              }
            }
            &.current_page_item {
              @include tablet {
                a {
                  color: $yellow;
                  &::before {
                    width: 100%;

                  }
                }
              }
            }
            ul{
              display: none;
              li{
                &:last-child{
                  background-color: #fff;
                  color: #373a4a;
                  border-radius: 0px;
                  padding: 0;
                  text-align: left;
                  width: 100%;
                  max-width: 100%;
                  margin: 0;
             
                  a{
                    color: #373a4a;
                    border: 0px;
    
                  }
                }
              }
            }
            position: relative;
            
            &:hover{
              @include tablet{
              ul{
                display: block;
                position: absolute;
                left: -45%;
                width: 220px;
                height: auto;
                padding: 16px;
                background: #fff;
                border-radius: 18px;
                font-size: 16px;
                box-shadow: 0px 20px 64px rgba(111, 103, 164, 0.35);
                li{
                  text-align: center;
                  width: 100%;
                  border-bottom: 1px solid lightgray;
         
                  &:last-child{
                    border: 0px;
                    background: white;
                    a{
                     
                      &:hover{
                        color:$yellow;
                      }
                    }
                    &:hover{
                      box-shadow: none;
                    }
                  }
                  a{
                    &::before{
                      display: none;
                    }
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  width: 15px;
                  height: 15px;
                  top: -4px;
                  left: 45%;
                  background: white;
                  transform: rotate(45deg);
              }
              }
            }
            }
            &:last-child{
              @include  desktop{
                background-color: $yellow;
                color:$gray2;
                border-radius: 12px;
                font-weight: 800;
                &:hover{
                  box-shadow: 0px 0px 10px $yellow;;
  
                }
                a{
                  color: $gray2;
                  text-transform: uppercase;
                  font-weight: 700;
                  padding: 16px 32px;
                  border-radius: 8px;
                  font-size: 12px;
                  line-height: 15px;
                }
              }
             
            }
          }
        }
        @include tablet {
          ul {
            li {
              list-style: none;
              text-align: left;
              padding: 0px !important;
              color: $gray;
              @include tablet {
                display: inline-block;
                margin: 0;
                margin-right: 32px;
              }
              a {
                padding: 20px 0px;
                display: inline-block;
                width: 100%;
                color: $gray;

                text-transform: uppercase;
                font-weight: 500;
                transition: ease-in-out 0.3s all;
                @include tablet {
                  display: block;
                  width: auto;
                }
              }
            }
          }
        }
      }
      &.active {
        width: 100%;
        margin-top: 70px;
        clear: both;
        height: 100%;
        opacity: 1;
        text-align: center;
        z-index: 80;
        .main-navegation {
          height: auto;
          @include mobile{
            height: 100vh;
          }
          
        }
        nav {
          div {
            ul {
              padding-bottom: 20px;
              li {
                border-top: 1px solid $gray4;
                @include tablet {
                  border: 0px;
                }
              }
            }
          }
        }
      }

      &.open-submenu{
        .menu{@include mobile{
           
          position: relative;
          right: 100%;
          .sub-menu{
            display: block;
          position: fixed;
          right: 0%;
          top: 74px;
          height: 100%;
          width: 100%;
          z-index: 999;
          }
         
      }}
      }

      


    }
    .sandwich {
      float: right;
      text-align: right;
      padding-top: 20px;
      transition: ease-in-out 0.3s;
      padding-right: 18px;
      @include tablet {
        padding-right: col(1, 31);
      }

      @include desktop {
        display: none;
      }
      a {
        color: $yellow;
        transition: ease-in-out 0.3s;
      }
      .menu {
        height: 2px;
        width: 22px;
        display: block;
        background-color: $yellow;
        margin-bottom: 6px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        &-3 {
          margin: 0;
        }
      }

      &.active {
        padding-top: -10px;
        .menu {
          &-1 {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 0% 90%;
            -ms-transform-origin: 0% 90%;
            transform-origin: 0% 90%;
          }

          &-2 {
            opacity: 0;
          }

          &-3 {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 0 10%;
            -ms-transform-origin: 0 10%;
            transform-origin: 0 10%;
          }
         
        }
      
      }
    }
  }
}

