.modal {
  display: none;
  .overlay {
    background: rgba(37, 44, 62, 0.79);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    opacity: 0;
    transition: ease-in-out 0.3s all;
  }
  .close {
    -webkit-appearance: none;
    appearance: none;
    &::before {
      content: "";
      background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='35' height='35' fill='white' stroke='%23FFCC00'/%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.7729 18.0008L24.8393 11.9343C25.0529 11.7208 25.0529 11.3745 24.8393 11.1609C24.6258 10.9474 24.2795 10.9473 24.0659 11.1609L17.9995 17.2273L11.9331 11.1609C11.7195 10.9473 11.3733 10.9473 11.1597 11.1609C10.9461 11.3745 10.9461 11.7208 11.1597 11.9343L17.2261 18.0007L11.1597 24.0671C10.9461 24.2807 10.9461 24.627 11.1597 24.8406C11.2665 24.9473 11.4064 25.0007 11.5464 25.0007C11.6864 25.0007 11.8263 24.9473 11.9331 24.8406L17.9995 18.7742L24.0659 24.8406C24.1727 24.9473 24.3126 25.0007 24.4526 25.0007C24.5926 25.0007 24.7325 24.9473 24.8393 24.8406C25.0529 24.627 25.0529 24.2807 24.8393 24.0671L18.7729 18.0008Z' fill='%23FFCC00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect x='11' y='11' width='14' height='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      width: 36px;
      height: 36px;
      display: block;
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }
  }
  .modal-container {
    background-color: white;
    max-width: 680px;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    z-index: 99999999;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0px 0px 64px rgba(189, 189, 189, 0.5);
    border-radius: 18px;
    @include media(tablet) {
      top: 40px;
    }
    .modal-content {
      h2 {
        color: #383b4e;
        font-weight: 600;
        text-align: left;
        @include media(tablet) {
          text-align: center;
          font-size: 32px;
          line-height: 39px;
        }
      }
      p {
        font-size: 14px;
        line-height: 17px;
        color: #383b4e;
      }
      .input-radio {
        font-weight: 300;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        color: #383b4e;
        margin-top: 16px;
        margin-bottom: 16px;
        @media only screen and (max-width: 321px) {
          font-size: 10px;
        }
        .wpcf7-list-item {
          margin: 0;
        }
      }

      .group-content {
        margin-top: 24px;
        @include media(tablet) {
          display: flex;
          flex-flow: row;
        }
      }
      .group-form-2 {
        @include media(mobile) {
          width: 100%;
        }
      }
      .input-field {
        min-height: 48px;
        height: 48px;
        margin-top: 0px;
        margin-bottom: 16px;
      }
      .input-textarea {
        height: auto;
        margin: 0;
        textarea {
          min-height: 130px;
          resize: none;
          @media only screen and (max-width: 321px) {
            min-height: 120px;
          }
          @include media(tablet) {
            min-height: 182px;
          }
        }
      }
      .btn-submit {
        input {
          margin-bottom: 0px;

          @include media(tablet) {
            width: auto;
            display: inline-block;
            padding: 16px 32px;
          }
        }
      }
    }
  }
  &.active {
    display: block;
    .overlay {
      opacity: 1;
      -webkit-animation: fadein 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: fadein 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
    .modal-container {
      -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
