.productos-home {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 500px;
  background-color: $grisClaro2;

  .container {
    padding-top: col(4, 37);
    padding-bottom: col(4, 37);

    @include tablet {
      padding-top: col(1, 29);
      padding-bottom: col(1, 29);
    }

    .cta-productos {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      .card-productos-home {
        width: col(25, 29);
        min-height: 145px;
        border-radius: 20px;
        background-color: $primary;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;

        &:hover{
            box-shadow:$shadow;

        }
        .imagen {
          width: 100%;

          img {
            width: auto;
            height: 204px;
          }
        }
        div.text {
          width: col(12, 12);
          padding-left: col(1, 9);
          padding-right: col(1, 9);
          margin-top: col(0.25, 9);
          margin-bottom: col(0.25, 9);
          h3 {
            text-align: left;
            font-size: 24px;
            margin-bottom: 24px;
            text-align: center;
            color: white;
          }
        }
      }
    }
  }
}
