.sobremayo {
  .container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: col(1, 29) auto;
    .text {
      width: col(29, 29);
      text-align: left;
      @include tablet {
        width: col(15, 29);
      }
      h2 {
        color: $grisOscuro;
        text-align: center;
        margin-top: 0px;
        font-weight: 700;
        font-size: 28px;
        margin-top: 10px;
        @include tablet{
            font-size: 36px;
            text-align: left;

        }
        @include desktop {
          text-align: left;
          font-size: 48px;
          margin-top: 0px;
        }
      }
      h4 {
        @include tablet {
          display: none;
        }
      }
      p {
        font-size: 16px;
        font-weight: 300;
        font-family: $primary-text;
        line-height: 120%;
        color: $gris;
        padding: 20px;
        padding-top: 0px;
        text-align: center;
        @include tablet{
        font-size: 18px;
        border-left: 1px solid $grisClaro;
        border-bottom: 1px solid $grisClaro;
        text-align: left;
        padding-right: 20px;

        }

        @include desktop {
          font-size: 24px;
        
        }
      }
    }
    .img {
      width: col(29, 29);
      border-radius: 20px;
      overflow: hidden;
      @include tablet {
        width: col(14, 29);
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
