.sponsors {
    text-align: center;
    padding: 48px 0px;

    @include media(tablet) {
        border: 0px;
        margin-top: 0px;
        padding: 0px;
    }
    h2.title {
        color: $gray;
        @include media(desktopmini) {
            max-width: 800px;
            margin: 0 auto;
        }
    }
    a {
        margin-top: 32px;
        @include media(tablet) {
            margin-top: 64px;
        }
    }
    .container {
        padding-left: 0px;
        padding-right: 0px;
        @include media(mobile) {
            max-width: 312px;
        }
    }
    &__container {
        width: col(29, 37);
        margin: 0 auto;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        margin-top: 16px;
        @include media(tablet) {
            margin-top: 32px;
        }
        .owl-dots {
            margin-top: 24px !important;
            @include media(desktopmini) {
                margin-top: 32px !important;
            }
        }
        .owl-stage-outer {
            overflow: initial !important;
        }
        .owl-stage {
            margin: 0 auto;
        }
        &__item {
            display: flex;
            flex-flow: column;
            cursor: pointer;
            overflow: hidden;
            align-items: center;
            justify-content: center;
            background: #ffffff;
            box-sizing: border-box;
            border-radius: 16px;
            position: relative;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            height: 120px;
            width: auto;
            @include media(tablet) {
                width: 240px;
                margin-right: col(1, 29);
            }
            &:hover {
                box-shadow: 0px 4px 48px rgba(156, 161, 186, 0.24);
            }
            &:last-child {
                margin-right: 0px;
            }
            img {
                width: 160px !important;
                height: auto;
                margin: 0 auto;
            }

            p {
                font-family: $primary-text;
                padding: 0px 36px;
                font-size: 12px;
                line-height: 140%;
                text-transform: uppercase;
                font-weight: 300;
                color: $gray;
                text-align: center;
                max-width: 300px;
                margin: 0 auto;
            }
            span {
                font-size: 12px;
                line-height: 156%;
                margin-left: 36px;
                text-transform: uppercase;
                padding: 4px 16px;
                margin-top: 16px;
                border-radius: 4px;
            }
            .text {
                position: relative;
                z-index: 2;
                margin-top: 16px;
            }
        }
    }
}
