.btn{
    padding: 16px 48px;
    border-radius: 8px;
    display: inline-block;
    font-size: 18px;
    &__primary{
        @extend .btn;
        background-color: $yellow;
        color: $gray2;
        font-size: 16px;
        line-height: 156%;
        text-transform: uppercase;
        font-weight: 800;
        &:hover{
            box-shadow: 0px 4px 24px $yellow;
        }
    }
}