
  
  [class^="ico-"], [class*=" ico-"] {
   &::before{
    content:'';
    display: inline-block;
    background-size: contain!important;
    background-repeat: no-repeat!important;
    background-position: center center!important;
   }
  }

  .ico-twitter{

      width: 37px;
      height: 38px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='37' height='38' viewBox='0 0 37 38' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M18.5943 37.1073C28.7598 37.1073 37.0006 28.8665 37.0006 18.701C37.0006 8.53546 28.7598 0.294678 18.5943 0.294678C8.42878 0.294678 0.187988 8.53546 0.187988 18.701C0.187988 28.8665 8.42878 37.1073 18.5943 37.1073Z' fill='%23FFCC00'/%3E%3Cpath d='M29.8684 13.5226C29.0797 13.8724 28.2312 14.109 27.3413 14.2146C28.2499 13.6703 28.9471 12.809 29.2762 11.781C28.4261 12.2853 27.4841 12.6512 26.4823 12.8484C25.6798 11.9936 24.5363 11.4595 23.2701 11.4595C20.8408 11.4595 18.8705 13.4298 18.8705 15.8591C18.8705 16.2039 18.9096 16.5396 18.985 16.8618C15.3286 16.6784 12.0865 14.9269 9.9164 12.2643C9.53776 12.914 9.32055 13.6703 9.32055 14.4764C9.32055 16.0025 10.0978 17.3497 11.2777 18.1385C10.5569 18.1158 9.87801 17.918 9.28512 17.5876C9.28479 17.6063 9.28479 17.625 9.28479 17.6434C9.28479 19.7751 10.802 21.5531 12.8143 21.957C12.4455 22.0581 12.056 22.1116 11.6554 22.1116C11.3712 22.1116 11.096 22.0843 10.8276 22.0331C11.3873 23.7807 13.0118 25.0527 14.9375 25.0885C13.4314 26.2687 11.5346 26.9719 9.47279 26.9719C9.11844 26.9719 8.76736 26.9512 8.42383 26.9102C10.3698 28.159 12.683 28.887 15.1675 28.887C23.26 28.887 27.6855 22.1831 27.6855 16.3687C27.6855 16.178 27.6813 15.988 27.6727 15.7997C28.533 15.1796 29.2788 14.4049 29.8684 13.5226Z' fill='%231C1E2E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect x='0.187012' y='0.294678' width='36.813' height='36.813' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");   
  }

  .ico-facebook{
    background-image: url("data:image/svg+xml,%3Csvg width='35' height='37' viewBox='0 0 35 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.1223 36.1077C26.5787 36.1077 34.2446 28.0585 34.2446 18.1293C34.2446 8.20009 26.5787 0.150879 17.1223 0.150879C7.66592 0.150879 0 8.20009 0 18.1293C0 28.0585 7.66592 36.1077 17.1223 36.1077Z' fill='%23FFCC00'/%3E%3Cpath d='M21.4268 18.833H18.3716V30.5858H13.7426V18.833H11.541V14.7027H13.7426V12.0298C13.7426 10.1185 14.6073 7.12549 18.4128 7.12549L21.8416 7.14055V11.1498H19.3538C18.9457 11.1498 18.3719 11.3639 18.3719 12.2756V14.7065H21.8312L21.4268 18.833Z' fill='%231C1E2E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect y='0.150879' width='34.2446' height='35.9568' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    width: 35px;
    height: 37px;
    display: inline-block;
  }

  .ico-linkedin{

      width: 35px;
      height: 37px;
      display: inline-block;
      background-image: url("data:image/svg+xml,%3Csvg width='35' height='37' viewBox='0 0 35 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M17.2157 0.294678C26.6727 0.294678 34.3381 8.44905 34.3381 18.5066C34.3381 28.5642 26.6727 36.7185 17.2157 36.7185C7.75884 36.7185 0.0935059 28.5641 0.0935059 18.5066C0.0935059 8.44918 7.75895 0.294678 17.2157 0.294678Z' fill='%23FFCC00'/%3E%3Cpath d='M9.74177 25.3178H12.948V13.9512H9.74177V25.3178ZM22.2325 13.5575C20.6765 13.5575 19.2843 14.1619 18.2966 15.496V13.9139H15.0787V25.3179H18.2966V19.1509C18.2966 17.8476 19.4192 16.5761 20.8253 16.5761C22.2315 16.5761 22.5783 17.8476 22.5783 19.119V25.3168H25.7844V18.8652C25.7843 14.3839 23.7896 13.5575 22.2325 13.5575ZM11.3299 12.8153C12.216 12.8153 12.9351 12.0504 12.9351 11.1079C12.9351 10.1654 12.216 9.40063 11.3299 9.40063C10.4438 9.40063 9.72461 10.1656 9.72461 11.1081C9.72461 12.0505 10.4438 12.8153 11.3299 12.8153Z' fill='%231C1E2E'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect x='0.0935059' y='0.294678' width='34.2446' height='36.4238' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
