$yellow : #FFC600; 
$gray:#10111A;
$gray2 : #4C4D58;
$gray3:#C8CADB;
$gray4:#C4C4C4;

$shadow: -0px 6px 20px rgba(0, 0, 0, 0.25);
$primary-text:'Montserrat',Arial, Helvetica, sans-serif;
$roboto:'Roboto',Arial, Helvetica, sans-serif;
$overlay:linear-gradient(90deg, rgba(35, 28, 19, 0.6) 24.32%, rgba(47, 37, 25, 0) 100.16%);
$sectionmargin:col(1.5,29);

